# Ignore Python cache
__pycache__/
*.pyc

# Ignore SQLite DB and credentials
loans.db
registered_passwords.txt
temp_passwords.log
igns.txt
create_table.py 
loan_manager.py 

# Ignore loan documents
Loan Agreements/

# Ignore environment/config files
.env
config.py
